.form input,button {
    font-family: inherit;
    font-size: inherit;
}
.popup-bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.2);
}

.popup {
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* max-width: 50%; */
    /* max-height: 61%; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.form {
    margin: 4em;
}

.form-header {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.form-input {
    display: block;
    width: 30vw;
    padding: 1em;
    margin: 1em 0 1em 0;
    border: none;
    background: var(--primary);
}

.form-submit {
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    opacity: 0.9;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 999;
    margin: 0.1em auto;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.beta {
    color: var(--primary);
    background-color: var(--secondary);
    /* font-weight: bold; */
    border-radius: 5px;
    padding: .20em .32em;
}

.home {

}

.greeting {
    width: 100%;
    height: 100vh;
}

.greetingContent {
    /* position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
     */

    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    color: white;
    font-size: 22px;
}

.greetingText {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: var(--secondary);

    margin: 0.5em 0;
}

.greetingButton {
    display: block;
    margin: 0.5em auto;

    /* background-color: var(--secondary);
    color: white;
    cursor: pointer;
    opacity: 0.9; */
}

.greetingCanvasWrapper {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    display: block;
}

#embedPositioner {
	position: fixed;
	width: 100%;
	height: calc(100% - var(--nav-height));
	bottom: 0;
	pointer-events: none;
}

#embed {
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 0;
	pointer-events: auto;
}

#embed > canvas {
	margin: 0;
	/* Prevent focus outline on canvas */
	outline: none;
	position: absolute;
}

#embed img {
	/* Prevent highlighting of images */
	/* TODO: perhaps move this to .overlay in modules.css? */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.embed-maximized {
	position: absolute;
	width: 100%;
	height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.embed-minimized {
	position: absolute;
    width: 25%;
	height: 30%;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: all 0.5s ease;
    -webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	
}

.embed-minimized {
	position: absolute;
    width: 25%;
	height: 30%;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: all 0.5s ease;
    -webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	
}

.sectionHeader {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--secondary);
}

.click-to-maximize:hover {
    /* box-shadow: inset 0 0 50px #000000; */
}

.gameCard,.gameCard:hover {
    --borderRadius: 0.5rem;
    --borderHeight: .25rem;
    --buttonWidth: 25rem;
    --buttonHeight: 5.5rem;
    --buttonPaddings: .5rem 3rem;
    --borderColor: #cacaca;
    --secondaryBorderColor: rgba(0,0,0,0.2);

    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    width: var(--buttonWidth);
    min-height: var(--buttonHeight);
    border-radius: var(--borderRadius);
    /* border-radius: 25px; */

    background-color: white;
    box-shadow: 0 var(--borderHeight) 0 0 var(--borderColor),0 .7rem .95rem .05rem var(--secondaryBorderColor);

    cursor: pointer;
    transition: all 0.2s;
}

.gameCard-selected {
    
}

.gameCard-unselected {
    box-shadow: none;
    background-color: #e6e6e6;
}

.cardSelect {
    display: flex;
    flex-direction: column;
}

.gameSelect {
    display: flex;
    justify-content: center;
}