:root {
	/* Define global variables */
	--icon-size: 5em;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none
}

.playerInfo {
	width: calc(var(--icon-size) * 5);
	display: inline-block;
	white-space: nowrap;
	position: absolute;
}

.playerText {
	vertical-align: middle;
	padding-top: calc(var(--icon-size) / 4);
}

.playerWhite .playerIcon {
	float: left; /* Justify-left icon */
	content: url('../../assets/player/king_white.svg');
}

.playerWhite {
	left: 0; /* Make playerInfo appear on left side of screen */
	text-align: left; /* Justify-left all text */
}

.playerBlack .playerIcon {
	float: right;
	content: url('../../assets/player/king_black.svg');
}

.playerBlack {
	right: 0;
	text-align: right;
}

.playerIcon {
	width: var(--icon-size);
	margin: 0 calc(var(--icon-size) / 6);
}

.playerFooter {
	display: inline-block;
	font-size: calc(var(--icon-size) / 4);
	margin: calc(var(--icon-size) / 12) 0;
}

.playerTime {
	display: inline-block;
}

.playerStatus {
	width: calc(var(--icon-size) / 7.5);
	height: calc(var(--icon-size) / 7.5);
	
	margin: 0 calc(var(--icon-size) / 5);
}

.playerName {
	font-size: calc(var(--icon-size) / 3);
}

.chat {
	position: absolute;
	bottom: calc(var(--icon-size) / 4);
	left: 0;
}

.sidebar {
	position: absolute;
	display: inline-block;
	right: calc(var(--icon-size) / 4);
	top: 40%;
}

.game-button {
	/*	position: fixed;*/
	display: inline-block;
	position: relative;
	pointer-events: auto;

	padding: calc(var(--icon-size) / 4);  /* Circle Radius */
	border-radius: 50%; /* Make circle */

	background-color: #FFFFFF;
	opacity: .6;
	z-index: 999;

	box-sizing: border-box; /* ? */
	box-shadow: 0 0 4px rgba(0,0,0,.15);
/*				box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);*/
}

.game-button:active {
/*				bottom: -0.2em;*/
	box-shadow: none;
}

.game-button > img {
	width: calc(var(--icon-size) / 2);
}