:root {
	/* Define global variables */
	--icon-size: 4rem;
	--button-size: 4rem;


	--chatMsg-font-size: 1rem;
	--chatMsg-paddingV: calc(var(--chatMsg-font-size) / 10);
	--chatMsg-paddingH: var(--chatMsg-font-size);
	/* The height of one line of chat message */
	--chatMsg-unitHeight: calc(var(--chatMsg-font-size) + var(--chatMsg-paddingV));

	--chat-maxHeight: calc(var(--chatMsg-unitHeight) * 12);
	--chat-width: 28vw;
}

.clickable {
	pointer-events: auto;
}

.statusBanner {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.playerInfo {
	width: calc(var(--icon-size) * 5);
	display: inline-block;
	white-space: nowrap;
	position: absolute;
}

.playerText {
	margin: 0 1rem; /* Add a little space between icon and content */
	display: inline-block;
	vertical-align: middle;
}

.playerInfoLeft .playerIcon {
	float: left; /* Justify-left icon */
}

.playerInfoLeft {
	left: 0; /* Make playerInfo appear on left side of screen */
	text-align: left; /* Justify-left all text */
}

.playerInfoRight .playerIcon {
	float: right;
}

.playerInfoRight {
	right: 0;
	text-align: right;
	direction: rtl;
}

.playerIcon {
	width: var(--icon-size);
	display: inline-block;
	/* margin: calc(var(--icon-size) / 6); */
}

.playerFooter {
	display: inline-block;
	font-size: calc(var(--icon-size) / 4);
	margin: calc(var(--icon-size) / 12) 0;
}

.playerTime {
	display: inline-block;
}

.playerStatus {
	width: calc(var(--icon-size) / 7.5);
	height: calc(var(--icon-size) / 7.5);
	
	margin: 0 calc(var(--icon-size) / 5);
}

.playerName {
	font-size: calc(var(--icon-size) / 3);
}

.game-button {
	/*	position: fixed;*/
	width: var(--button-size);
	height: var(--button-size);
	display: block; /* Different lines */
	position: relative;

	margin: calc(var(--button-size) / 8) 0;
	padding: calc(var(--button-size) / 4);  /* Circle Radius */
	border-radius: 50%; /* Make circle */

	pointer-events: auto;

	background-color: #FFFFFF;
	opacity: .6;
	z-index: 999;

	box-sizing: border-box; /* ? */
	box-shadow: 0 0 4px rgba(0,0,0,.15);
/*				box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);*/
}

.game-button:active {
	box-shadow: none;
}

.game-button > img {
	width: calc(var(--button-size) / 2);
}

.chat {
	position: absolute;
	width: var(--chat-width);
	pointer-events: auto;
	/* height: var(--chat-maxHeight); */
	/* overflow: hidden; */
	/* clip-path: polygon(0% 0%, var(--chat-width) 0%, var(--chat-width) var(--chat-maxHeight), 0 var(--chat-maxHeight)); */
}

.chat-message {
	font-size: var(--chatMsg-font-size);
	font-weight: 600;
	color: rgb(255, 255, 255);
	background-color: rgba(58, 58, 58, 0.418);
	width: 100%;
	min-height: var(--chatMsg-unitHeight);
	padding: var(--chatMsg-paddingV) var(--chatMsg-paddingH);
	box-sizing: border-box;
	word-wrap: break-word;

	transition: 300ms ease-in-out;
}

input.chat-message {
	font-family: inherit;
	border: none;
	outline: none;
}